In [1]:
# import the pandas library bcoz pandas has database and table related functions
import pandas as pd

In [2]:
# Here read the Salary_Data.csv by using pandas function and assigned values to the dataset variable.
dataset = pd.read_csv("Salary_Data.csv")

In [3]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
# Step - Split input and output

In [4]:
#Here assigned values of YearsExperience column to the independent variable (Split input)
independent = dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [5]:
#Here assigned values of Salary column to the dependent variable (Split output)
dependent = dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [6]:
#Split the train and test test set
from sklearn.model_selection import train_test_split
x_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.30, random_state =0)

In [7]:
#create model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train) #fit function is used to create model

LinearRegression()

In [8]:
weight = regressor.coef_ # find the weight, here weight means distance between two points
weight

array([[9360.26128619]])

In [9]:
bais = regressor.intercept_ # find the bias, here bias means minium value or starting value or initial value
bais

array([26777.3913412])

In [10]:
y_pred = regressor.predict(X_test) #find the predict value for test

In [ ]:
# Step - Evalution Metrics

In [11]:
# load r2_score library for evaluate the metrics
from sklearn.metrics import r2_score 
# Test the created model by using r2_score library
r_score = r2_score(y_test, y_pred)

In [12]:
r_score

0.9740993407213511

In [ ]:
# Step - Save Best Model

In [13]:
# load pickle library
import pickle
filename = "finalized_model_linear.sav" # assign value to the filename variable

In [14]:
pickle.dump(regressor,open(filename,'wb')) # transfer created model to the file, wb - write binary

In [15]:
loaded_model = pickle.load(open('finalized_model_linear.sav', 'rb')) # Read the save model for predict
result = loaded_model.predict([[13]])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [16]:
result

array([[148460.78806172]])