In [2]:
# import the pandas library bcoz pandas has database and table related functions
import pandas as pd

In [4]:
# Here read the Salary_Data.csv by using pandas function and assigned values to the dataset variable.
dataset = pd.read_csv("insurance_pre.csv")

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
# convert categorail data to numerical data using hot code encoding
dataset = pd.get_dummies(dataset, drop_first = True);
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
#Split input and output
independent = dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent= dataset[["charges"]]

In [9]:
#Split the train and test set
from sklearn.model_selection import train_test_split
x_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.30, random_state =0)

In [10]:
#create model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train) #fit function is used to create model

LinearRegression()

In [11]:
weight = regressor.coef_ # find the weight, here weight means distance between two points
weight

array([[  257.8006705 ,   321.06004271,   469.58113407,   -41.74825718,
        23418.6671912 ]])

In [12]:
bais = regressor.intercept_ # find the bias, here bias means minium value or starting value or initial value
bais

array([-12057.244846])

In [13]:
y_pred = regressor.predict(X_test) #find the predict value for test

In [14]:
# Step - Evalution Metrics

In [15]:
# load r2_score library for evaluate the metrics
from sklearn.metrics import r2_score 
# Test the created model by using r2_score library
r_score = r2_score(y_test, y_pred)

In [16]:
r_score

0.7894790349867009